# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [6]:
variable = 3
id(variable)

135227105591600

In [7]:
new_variable = 3
id(new_variable)

135227105591600

Ці змінні посилатимуться на один і той самий об'єкт ,адже в пайтоні з метою оптимізації для чисел з -5 до 256, які найчастіше використовуються зробили так щоб нові змінні не створювали новий об'єкт а посилались на існуючий, таким чином економлячи пам'ять

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [8]:
isinstance(True ,bool)

True

In [9]:
isinstance(True ,int)

True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [10]:
int_var =  5
float_var = 2.5

In [11]:
print(int_var + float_var)

7.5

In [12]:
print (int_var - float_var)

2.5

In [13]:
print(int_var / float_var)

2.0

In [14]:
print(int_var * float_var)

12.5

In [15]:
print(int_var // float_var)

2.0

In [16]:
print(int_var % float_var)

0.0

In [17]:
print(float_var ** int_var)

97.65625

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [18]:
float_var

2.5

In [19]:
int(float_var)

2

In [22]:
x = False
x

False

In [23]:
int(x)

0

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [25]:
text = ""
print(text)

In [26]:
text = str()
print(text)

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [27]:
test_raw = ' \' '
print(test_raw)

 '

In [28]:
test_raw_1 = r' \' '
print(test_raw_1)

 \'

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [29]:
surname = "Moshkovskyi"
surname

'Moshkovskyi'

In [32]:
form_str = f"My surname is {surname} "
print(form_str)

My surname is Moshkovskyi

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [33]:
dog_text = "My dog is crazy"
dog_text

'My dog is crazy'

In [34]:
word_list = dog_text.lower().split()
print(word_list)

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [35]:
first_list = ['1' ,'2' ,True ,1 ,34]
first_list

('1', '2', True, 1, 34)

In [38]:
second_list = list(['1' ,'2' ,True ,1 ,34])
second_list

['1', '2', True, 1, 34]

In [41]:
print(len(first_list))
print(len(second_list))

5
5

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [47]:
main_list = [1 ,3 ,4 ,5 ]
main_list

[1, 3, 4, 5]

In [48]:
secondary_list = [True ,False ,123123]
secondary_list
print(main_list)

[1, 3, 4, 5]

In [49]:
main_list.append(secondary_list)
print(main_list)

[1, 3, 4, 5, [True, False, 123123]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [50]:
listed_list = [[1 ,2 ,3 ,4] ,[True ,False ,None] ,["132" ,"efsfd" ,'21415f']]
print(listed_list)

[[1, 2, 3, 4], [True, False, None], ['132', 'efsfd', '21415f']]

In [53]:
last_list = listed_list[-1]
print(last_list)

['132', 'efsfd', '21415f']

In [54]:
result = last_list[0]
print(result)

132

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [55]:
huge_list = [1 ,"2" ,True ,None ,[123] ,(123) ,1.4 ,{"eight": 8} ,123 ,"2342"]
print(huge_list)

[1, '2', True, None, [123], 123, 1.4, {'eight': 8}, 123, '2342']

In [57]:
smaller_list = huge_list[2:8]
print(smaller_list)

[True, None, [123], 123, 1.4, {'eight': 8}]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [63]:
cortezh = (2,)
print(cortezh)

(2,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

1) Списки є mutable типом даних, в той час як кортежі незмінні;
2) Списки викликаються завдяки [], а кортежі завдяки ();
3) Для кортежів зв'язуючим знаком є кома, тому у наведеному вище прикладі,щоб створити кортеж з одним елементом мені потрібно було поставити кому;
4) Кортежі швидше за спискиж;
5) Кортежі використовуються там, де не потрібна динамічна зміна даних. Також, хоч кортежі і можуть в собі тримати об'єкти різних типів, загалом кортеж задумувався щоб тримати об'єкти лише одного типу(тільки стрінги, тільки інти і тд);

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [70]:
big_cortezh = (1.1, 2.2, 3.3, 4.4, 5.5, 6.6, 7.7, 8.8, 9.9, 0.0, 11.1)
print(big_cortezh)

(1.1, 2.2, 3.3, 4.4, 5.5, 6.6, 7.7, 8.8, 9.9, 0.0, 11.1)

In [71]:
numbers = big_cortezh[::-2]
print(numbers)

(11.1, 9.9, 7.7, 5.5, 3.3, 1.1)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [72]:
my_set = set()
my_set.add(1)
my_set.add(2)
my_set.add(3)
print(my_set)

{1, 2, 3}

Так, множини є мутабельним типом даних

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [73]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set_0 = set(my_list)
print(my_set_0)

{1, 2, 67, 8, 9}

Все через те, що у множинах у пайтоні кожен елемент має бути унікальним тому, ті елементи які повторювались були прибрані

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [75]:
my_set1 = {1, 2, 3, 4, 5}
my_set2 = {3, 4, 5, 6, 7}
union = my_set1.union(my_set2)
print(union)

{1, 2, 3, 4, 5, 6, 7}

In [77]:
difference = my_set1.difference(my_set2)
print(difference)

{1, 2}

In [78]:
intersection = my_set1.intersection(my_set2)
print(intersection)

{3, 4, 5}

In [79]:
symmetric_difference = my_set1.symmetric_difference(my_set2)
print(symmetric_difference)

{1, 2, 6, 7}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [80]:
my_dict = {}
my_dict[1] = "Olexander"
my_dict["123"] = "Vasiliy"
my_dict[(1, 2)] = "Pedro"
my_dict[1.3] = "Mark"
print(my_dict)

{1: 'Olexander', '123': 'Vasiliy', (1, 2): 'Pedro', 1.3: 'Mark'}

Список не може бути ключем, адже це змінний тип даних і він не підлягає хешуванню, а це необхідна умова для існування ключів

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [82]:
first_dictionary = {
    "key1" : "value1",
    "key2": {
        "new_key_1" : "new_value_1",
        "new_key_2" : {
          "key3" : "value3"
        }
    }
}
value3 = first_dictionary["key2"]["new_key_2"]["key3"]
print(value3)

value3

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.